node_modules/
dist/
salesforce/salesforceGalatea/force-app/main/default/aura/HelloWorldApp/
salesforce/salesforceGalatea/force-app/main/default/aura/HelloWorldComponent/
salesforce/salesforceGalatea/force-app/main/default/aura/PAAA/
salesforce/salesforceGalatea/scripts/apex/hello.apex
salesforce/salesforceGalatea/scripts/soql/account.soql
salesforce/salesforceGalatea/force-app/main/default/lwc/jsconfig.json
salesforce/salesforceGalatea/force-app/main/default/lwc/.eslintrc.json
salesforce/salesforceGalatea/force-app/main/default/classes/TestClass.cls
salesforce/salesforceGalatea/force-app/main/default/classes/TestClass.cls-meta.xml
salesforce/salesforceGalatea/force-app/main/default/aura/Welcome_to_lightning/
salesforce/salesforceGalatea/.forceignore
salesforce/salesforceGalatea/.gitignore
salesforce/salesforceGalatea/.prettierignore
salesforce/salesforceGalatea/.prettierrc
salesforce/salesforceGalatea/README.md
salesforce/salesforceGalatea/sfdx-project.json
salesforce/salesforceGalatea/.vscode/extensions.json
salesforce/salesforceGalatea/.vscode/launch.json
salesforce/salesforceGalatea/.vscode/settings.json
salesforce/salesforceGalatea/config/project-scratch-def.json
salesforce/salesforceGalatea/force-app/main/default/aura/Registration_Component/
salesforce/salesforceGalatea/force-app/main/default/classes/currentUserInfoController.cls
salesforce/salesforceGalatea/force-app/main/default/classes/currentUserInfoController.cls-meta.xml
