.main {
  height: 56px;
  width: 100%;
  background-color: initial;
  color: #b2b7bb;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: flex-end;
  margin-bottom: unset;
}

.dropdownBtn {
  padding: 0;
  background-color: inherit;
  border-style: none;
}
.dropdownBtn:hover,
.dropdownBtn:active,
.dropdownBtn:focus,
.dropdownBtn:not(:disabled):not(.disabled):active:focus {
  background-color: inherit;
  box-shadow: none;
}

.dropdownIcon {
  width: 15px;
  height: 20px;
  mask-image: url("../../../images/Icon-more.svg");
  -webkit-mask-image: url("../../../images/Icon-more.svg");
  background-color: #b2b7bb;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 15px);
}

.title > .text {
  margin: auto;
}

.title > .arrow {
  mask-image: url("../../../images/icon-punta-flecha-bottom.svg");
  -webkit-mask-image: url("../../../images/icon-punta-flecha-bottom.svg");
  background-color: #99a0a5;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-attachment: fixed;
  mask-position: center;
  -webkit-mask-position: center;
  transform: rotate(180deg);
  cursor: pointer;
}

div.dropdown > div {
  background-color: #192a34;
}

div.dropdown > div > button {
  color: #7f888e;
}

div.dropdown > div > button:hover {
  background-color: #273a46;
  color: #7f888e;
}
