.icon {
  width: 54px;
  height: 54px;
  mask-image: url("../../../images/icon-anchor.svg");
  -webkit-mask-image: url("../../../images/icon-anchor.svg");
  background-color: whitesmoke;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-attachment: fixed;
  mask-position: center;
  -webkit-mask-position: center;
}

.timer {
  font-size: 34px;
}

.main {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.submitBtn {
  display: flex;
  align-self: center;
  justify-content: center;
  max-height: 48px;
  min-height: 48px;
  margin-top: 32px;
}

.submitBtn > button {
  background-color: #cc9e1f;
  border-color: #cc9e1f;
  max-height: 38px;
}

.submitBtn > button:hover {
  background-color: #ffbb00;
  border-color: #ffbb00;
}

.submitBtn > button:active {
  background-color: #ffbb00ab;
  border-color: #ffbb00ab;
}

.submitBtn > button.btn-primary.focus,
.submitBtn > button.btn-primary:focus {
  color: #fff;
  background-color: #ffbb00;
  border-color: #ffbb00;
  box-shadow: 0 0 0 0.2rem #ffbb00;
}

.submitBtn > button.btn-primary:not(:disabled):not(.disabled).active,
.submitBtn > button.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ffbb00;
  border-color: #ffbb00;
}
