.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.main > div.form {
  margin-left: 32px;
  margin-right: 32px;
  align-items: flex-start;
}

.image {
  margin-top: 56px;
  width: 120px;
  height: 120px;
}

.submitBtn {
  display: flex;
  align-self: center;
  justify-content: center;
  max-height: 48px;
  min-height: 48px;
  margin-top: 32px;
}

.submitBtn > button {
  background-color: #cc9e1f;
  border-color: #cc9e1f;
  max-height: 38px;
}

.submitBtn > button:hover {
  background-color: #ffbb00;
  border-color: #ffbb00;
}

.submitBtn > button:active {
  background-color: #ffbb00ab;
  border-color: #ffbb00ab;
}

.submitBtn > button.btn-primary.focus,
.submitBtn > button.btn-primary:focus {
  color: #fff;
  background-color: #ffbb00;
  border-color: #ffbb00;
  box-shadow: 0 0 0 0.2rem #ffbb00;
}

.submitBtn > button.btn-primary:not(:disabled):not(.disabled).active,
.submitBtn > button.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ffbb00;
  border-color: #ffbb00;
}

.divInput {
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(68, 67, 67, 0.1);
  border-radius: 5px;
  border: 1px solid #667178;
  width: 100%;
}

.divInput > input {
  border-style: none;
  height: 36px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: inherit;
  color: #667178;
  width: calc(100% - 20px);
}

.divInput.password > input {
  width: calc(100% - 60px);
}

.divInput.password > div {
  background-color: #667178;
  mask-image: url("../../../images/Icon-not-show-pass.svg");
  -webkit-mask-image: url("../../../images/Icon-not-show-pass.svg");
  mask-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  width: 40px;
}

.divInput.password.show > div {
  mask-image: url("../../../images/icon-pass-show.svg");
  -webkit-mask-image: url("../../../images/icon-pass-show.svg");
}

.alert > div {
  color: #ffffff;
  background-color: #f83838;
  border-color: #f83838;
  min-height: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.alert.show {
  visibility: visible;
}

.alert.hide {
  visibility: hidden;
}

.divLabel {
  color: #667178;
  margin-bottom: 5px;
}

.spinner {
  width: 48px;
  height: 48px;
  color: #cc9e1f;
}
