.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  color: #ffffff;
}

.ready {
  background-color: #06c10d;
}

.dialog {
  background-color: #04baed;
}

.notready {
  background-color: #ff0011;
}

.problem {
  background-color: #c60000;
}

.wrapup {
  background-color: #ffa61d;
}

.ringing {
  background-color: #2171bf;
}

.callout {
  background-color: #0fd830;
}
