.main {
  width: 296px;
  height: 460px;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 56px;
  background-color: #263640;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #cccfd2;
}

.header > div.back {
  width: 32px;
  height: 32px;
  mask-image: url("../../images/icon-punta-flecha-bottom.svg");
  -webkit-mask-image: url("../../images/icon-punta-flecha-bottom.svg");
  background-color: #99a0a5;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-attachment: fixed;
  mask-position: center;
  -webkit-mask-position: center;
  transform: rotate(180deg);
  cursor: pointer;
}

.header > div.lupa {
  width: 24px;
  height: 24px;
  mask-image: url("../../images/icon-lupa.svg");
  -webkit-mask-image: url("../../images/icon-lupa.svg");
  background-color: #99a0a5;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-attachment: fixed;
  mask-position: center;
  -webkit-mask-position: center;
  cursor: pointer;
}

.tabs {
  width: 100%;
  height: 52px;
  background-color: #192a34;
  display: flex;
  flex-direction: row;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.tabs > div {
  width: 33.33%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #fff0;
  cursor: pointer;
}

.tabs > div.active {
  border-bottom: 4px solid #cc9e1f;
}

.content {
  width: 100%;
  height: 284px;
  max-height: 284px;
  overflow-y: auto;
  background-color: #0d1f2a;
  padding-left: 25px;
  padding-right: 25px;
}

.footer {
  width: 100%;
  height: 68px;
  background-color: #192a34;
}
