.main {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  height: 63px;
  width: 248px;
  background-color: #263640;
  border-radius: 10px;
}

.title,
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number {
  width: 100%;
  height: 164px;
  justify-content: space-around;
  background-color: #192a34;
}

.title > .label {
  font-size: 14px;
}

.title > .name {
  font-size: 16px;
}

.phoneNumber {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.phoneNumber > .logo {
  mask-image: url("../../images/Icon-account.svg");
  -webkit-mask-image: url("../../images/Icon-account.svg");
  background-color: #99a0a5;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-attachment: fixed;
  mask-position: center;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.phoneNumber > .num {
  font-size: 20px;
}

.number > .timer {
  font-size: 24px;
}
.btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ff2f2f;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff2222;
}

.btn:active {
  background-color: #eb1f1f;
}

.btn > div.hangUp {
  width: 48px;
  height: 48px;
  background-color: white;
  mask-image: url("../../images/Icon-call.svg");
  -webkit-mask-image: url("../../images/Icon-call.svg");
  mask-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.callData {
  width: 100%;
  height: 216px;
  overflow-y: auto;
  justify-content: center;

  display: flex;

  align-items: center;

  flex-direction: column;
}

.footer {
  width: 100%;
  height: 80px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #192a34;
}

.dataInput {
  height: 44px;
  padding-top: 8px;
  width: 248px;

  display: flex;
}

.dataInput > div {
  background-color: #667178;
  width: 42px;
  height: 36px;
  border-radius: 4px 0 0 4px;
}
.dataInput > .input > input,
.dataInput > .input {
  width: 196px;
  height: 36px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  border-style: none;
}

.dataInput > .input {
  padding-left: 10px;
}

.dataTitle {
  padding-top: 20px;
}

.dataInputNo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
}

.selectInput,
.selectInput:hover,
.selectInput:focus {
  background-color: inherit;
  border-color: #667178;
  height: 36px;
  width: 248px;
  margin: 16px 0 16px 0;
}

button.dispositionBtn {
  background-color: #cc9e1f;
  border-color: #d4ad40;
  width: 115px;
  height: 36px;
}

button.dispositionBtn:hover {
  background-color: #a48522;
  border-color: #cc9e1f;
}

button.dispositionBtn:active {
  background-color: #a48522;
  border-color: #a48522;
}

button.dispositionBtn.btn-primary.focus,
button.dispositionBtn.btn-primary:focus {
  color: #fff;
  background-color: #cc9e1f;
  border-color: #dcbb63;
  box-shadow: 0 0 0 0.2rem #d4ad40;
}

button.dispositionBtn.disabled,
button.dispositionBtn:disabled {
  background-color: #192a34 !important;
  border-color: #263640;
}

button.dispositionBtn.btn-primary:not(:disabled):not(.disabled).active,
button.dispositionBtn.btn-primary:not(:disabled):not(.disabled):active,
.dispositionBtn.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ffbb00;
  border-color: #ffbb00;
}

.btnAdvance {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: inherit;
  border: 1px solid #4c5961;
  cursor: pointer;
}

.btnAdvance:hover {
  background-color: #cc9e1f75;
  border-color: #cc9e1f;
}

.btnAdvance:active {
  background-color: #cc9e1fb0;
  border-color: #cc9e1f;
}

.btnAdvance > div {
  width: 48px;
  height: 48px;
  background-color: #cc9e1f;
  mask-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.btnAdvance > div.mute {
  mask-image: url("../../images/Icon-volume-high.svg");
  -webkit-mask-image: url("../../images/Icon-volume-high.svg");
}
.btnAdvance > div.mute.active {
  mask-image: url("../../images/Icon-mute.svg");
  -webkit-mask-image: url("../../images/Icon-mute.svg");
}

.btnAdvance > div.hold {
  mask-image: url("../../images/Icon-pause.svg");
  -webkit-mask-image: url("../../images/Icon-pause.svg");
}

.btnAdvance > div.hold.active {
  mask-image: url("../../images/Icon-play.svg");
  -webkit-mask-image: url("../../images/Icon-play.svg");
}

.btnAdvance > div.xfer {
  mask-image: url("../../images/Icon-transfer.svg");
  -webkit-mask-image: url("../../images/Icon-transfer.svg");
}
