.main {
  margin: 0 32px 0 32px;
}

.rowNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.rowNumbers > div {
  display: flex;
  justify-content: center;
  margin: 0 5px 0 5px;
  background-color: #192a34;
  line-height: 40px;
  min-width: 40px;
  color: #b2b7bb;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.selectInput,
.selectInput:hover,
.selectInput:focus {
  background-color: inherit;
  border-color: #667178;
  height: 36px;
  margin: 16px 0 16px 0;
}

.body {
  margin-left: 30px;
  margin-right: 30px;
  color: #99a0a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.body > div {
  margin-top: 10px;
}

.header > h5 {
  color: #99a0a5;
  font-size: 15px;
}

.rowNumbers.telephone > div {
  min-width: 50px;
  min-height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  background-color: #06c10d;
  margin: 15px 15px 0 15px;
}

.rowNumbers.telephone > div:hover {
  background-color: #42d047;
}

.rowNumbers.telephone > div:active {
  background-color: #06b40f;
}

.rowNumbers > div:hover {
  background-color: #666d72;
}
.rowNumbers > div:active {
  background-color: #4a5b66;
}
.inputKeyBoard {
  display: flex;
  flex-direction: row;
  border-color: khaki;
  border: 1px solid #667178;
  border-radius: 4px;
  margin-bottom: 20px;
}

.inputKeyBoard > input {
  background-color: inherit;
  border-style: none;
  width: calc(100% - 40px);
}

.inputKeyBoard > input:hover,
.inputKeyBoard > input:focus {
  background-color: inherit;
  border-color: #667178;
  box-shadow: none;
}

.inputKeyBoard > div {
  mask-image: url("../../images/Icon-backspace.svg");
  -webkit-mask-image: url("../../images/Icon-backspace.svg");
  background-color: #667178;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-attachment: fixed;
  mask-position: center;
  -webkit-mask-position: center;
  width: 40px;
  height: calc(1.5em + 0.75rem + 2px);
}

.simulateClick {
  background-color: #4a5b66 !important;
}

.rowNumbers.telephone > div > div.iconTelephone {
  background-color: white;
  mask-image: url("../../images/Icon-call.svg");
  -webkit-mask-image: url("../../images/Icon-call.svg");
  mask-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  width: 50px;
  height: 50px;
}

.rowNumbers.telephone.disabled > div {
  pointer-events: none;
  opacity: 0.4;
  background-color: #192a34;
}

.main > div.divInput {
  background-color: #0d1f2a;
}
